<div class="container p-4" style="overflow-x:scroll ;">
    <table>
      <tr>
        <th>Planta</th>
        <th>Habitación</th>
        <th>Cama</th>
        <th>Fecha Actualizacion</th>
        <th>Temperatura</th>
        <th>Frecuencia Cardíaca</th>
        <th>Frecuancia Respiratoria</th>
        <th>Presión Arterial</th>
        <th>Evolución/Observaciones</th>
        <th>Plan de actuacion</th>
        <th>Creador de la nota</th>
      </tr>
    {{#each notas}}
      <tr>
        <td>{{planta}}</td>
        <td>{{habitacion}}</td>
        <td>{{cama}}</td>
        <td>{{fechaActualizacion}}</td>
        <td>{{ct_temperatura}}</td>
        <td>{{ct_frecuenciaCardiaca}}</td>
        <td>{{ct_frecuenciaRespiratoria}}</td>
        <td>{{ct_presionArterial}}</td>
        <td>{{observaciones1}}</td>
        <td>{{observaciones2}}</td>
        <td>{{emailCreado}}</td>
      </tr>
    {{else}}
    <div class="col-md-4 mx-auto">
      <div class="card card-body text-center bg-dark text-light">
        <p>El usuario {{email}} no tiene ninguna nota</p>
      </div>
    </div>
    {{/each}}
  </table>
</div>